*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

img {
  vertical-align: top;
}

::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #c4c4c4;
}

::-ms-input-placeholder {
  color: #c4c4c4;
}

.container {
  width: 1370px;
  height: auto;
  margin: 0px auto;
}
.container .mobile_search_filter {
  display: none;
}
.container .mobile_back_button {
  display: none;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.14em;
  color: #3F4E65;
}
.container .mobile_back_button button {
  width: 32px;
  height: 32px;
  background: #FFCA65;
  opacity: 0.3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.container .mobile_back_button button img {
  width: 4px;
  height: 8px;
  color: black;
}
.container .bread_crumbs {
  display: flex;
  margin-top: 45px;
  font-weight: 300;
  font-size: 14px;
  color: #3f4e65;
}
.container .bread_crumbs hr {
  width: 0px;
  height: 16px;
  border: 1px dashed #3f4e65;
  opacity: 0.3;
  margin-left: 10px;
}
.container .bread_crumbs p {
  font-weight: 300;
  font-size: 14px;
  margin-left: 10px;
  opacity: 0.5;
  color: #3f4e65;
}
.container .catalog_title {
  font-weight: 500;
  font-size: 40px;
  color: #111111;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.container .catalog_title .catalog_title_sorting {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown {
  height: 20px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #3f4e65;
  cursor: pointer;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown img {
  width: 7px;
  height: 7px;
  margin: 9px 0px 0px 5px;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown p {
  color: #111111;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown p:hover {
  color: #ffffff;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul {
  list-style: none;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li {
  float: left;
  position: relative;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li ul {
  display: none;
  position: absolute;
  overflow: auto;
  width: 150px;
  background-color: #bdbdbd;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li ul li {
  float: none;
}
.container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li:hover ul {
  display: block;
}
.container .categories_container {
  width: 100%;
  margin-top: 25px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.container .categories_container li {
  width: 100px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3f4e65;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
}
.container .categories_container #onehundreedtwenty {
  width: 120px !important;
}
.container .categories_container #onehundreedfourty {
  width: 140px;
}
.container .catalog_title_sorting_mobile {
  display: none;
  font-weight: 500;
  font-size: 16px;
  align-items: flex-end;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown {
  height: 20px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #3f4e65;
  cursor: pointer;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown img {
  width: 7px;
  height: 7px;
  margin: 9px 0px 0px 5px;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown p {
  color: #111111;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown p:hover {
  color: #ffffff;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown ul {
  list-style: none;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown ul li {
  float: left;
  position: relative;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown ul li ul {
  display: none;
  position: absolute;
  overflow: auto;
  width: 150px;
  background-color: #bdbdbd;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown ul li ul li {
  float: none;
}
.container .catalog_title_sorting_mobile .catalog_title_dropdown ul li:hover ul {
  display: block;
}
.container .main_container {
  width: 1370px;
  display: flex;
  margin-top: 30px;
}
.container .main_container .options_search_container {
  width: 346px;
  height: auto;
}
.container .main_container .options_search_container .options_search_title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}
.container .main_container .options_search_container .options_price_container {
  width: auto;
  height: 60px;
  margin-top: 10px;
}
.container .main_container .options_search_container .options_price_container .options_price_title {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  color: #3f4e65;
}
.container .main_container .options_search_container .options_price_container .options_price_title p {
  font-weight: 500;
  font-size: 14px;
  margin-left: 5px;
  color: #111111;
}
.container .main_container .options_search_container .options_price_container .options_price_inputs {
  width: 232px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.container .main_container .options_search_container .options_price_container .options_price_inputs input {
  width: 100px;
  height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #3f4e65;
}
.container .main_container .options_search_container .options_manufacturer_container {
  width: 238px;
  margin-top: 30px;
  margin-right: 100px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_title {
  font-weight: 500;
  font-size: 16px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input input {
  width: 238px;
  height: 59px;
  padding: 13px 10px 13px 20px;
  background: #ededed;
  border-radius: 36px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input button {
  width: 39px;
  height: 39px;
  background: #ffc85e;
  border-radius: 1000px;
  margin-left: -49px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input button img {
  width: 18.35px;
  height: 18.35px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container {
  margin-top: 15px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer {
  display: flex;
  color: #3f4e65;
  margin-bottom: 5px;
  align-items: center;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer span {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer p {
  font-weight: 400;
  font-size: 10px;
  margin: 3px 0px 0px 5px;
}
.container .main_container .options_search_container .options_manufacturer_container hr {
  width: 238px;
  height: 0px;
  opacity: 0.3;
  border: 1px dashed #3f4e65;
  margin-top: 20px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_all_search {
  display: flex;
  margin-top: 25px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_all_search input {
  width: 169px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}
.container .main_container .options_search_container .options_manufacturer_container .options_all_search button {
  width: 59px;
  height: 59px;
  background: #FFC85E;
  border-radius: 79px;
  margin-left: 10px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_all_search button img {
  width: 25px;
  height: 25px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_categories_container {
  margin-top: 20px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories_title {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
}
.container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories {
  margin-top: 10px;
}
.container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories .options_category {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  color: #3f4e65;
}
.container .main_container .products_container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main_container .products_container .product_container {
  width: 326px;
  height: 490px;
  margin-bottom: 21px;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.container .main_container .products_container .product_container .product_img_container {
  width: 326px;
  height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main_container .products_container .product_container .product_img_container img {
  max-height: 236px;
}
.container .main_container .products_container .product_container .product_volume_container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.container .main_container .products_container .product_container .product_volume_container span {
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
  color: #3f4e65;
}
.container .main_container .products_container .product_container .product_name_container {
  height: 78px;
  margin: 10px 0px 0px 23px;
}
.container .main_container .products_container .product_container .product_name_container span {
  height: 78px;
  font-weight: 500;
  font-size: 16px;
}
.container .main_container .products_container .product_container .product_info_container {
  height: 73px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .main_container .products_container .product_container .product_info_container .product_info {
  font-weight: 300;
  font-size: 14px;
  color: #3f4e65;
}
.container .main_container .products_container .product_container .product_info_container .product_info span {
  font-weight: 500;
  font-size: 14px;
  color: #111111;
  margin-left: 5px;
}
.container .main_container .products_container .product_container .product_price_container {
  width: 264px;
  height: 45px;
  margin: 15px 0px 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main_container .products_container .product_container .product_price_container .product_price {
  font-weight: 800;
  font-size: 16px;
  color: #111111;
}
.container .main_container .products_container .product_container .product_price_container button {
  width: 153px;
  height: 45px;
  background: #ffc85e;
  border-radius: 80px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.container .main_container .products_container .product_container .product_price_container button img {
  width: 27px;
  height: 27px;
  margin-left: 5px;
}
.container .products_pages {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.container .products_pages img {
  width: 9px;
  height: 16px;
}
.container .products_pages img:first-child {
  margin-right: 35px;
  transform: rotate(180deg);
}
.container .products_pages img:last-child {
  margin-left: 35px;
}
.container .products_pages button {
  width: 35px;
  height: 35px;
  background-color: white;
}
.container .products_pages button:hover {
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}

@media (max-width: 1439px) {
  .container {
    width: 1000px;
    height: auto;
  }
  .container .bread_crumbs {
    margin: 45px 0px 0px 30px;
  }
  .container .categories_container {
    width: 1000px;
    overflow-y: auto;
  }
  .container .categories_container li {
    margin-left: 30px;
    min-width: 100px;
  }
  .container .categories_container #onehundreedtwenty {
    min-width: 120px !important;
  }
  .container .categories_container #onehundreedfourty {
    min-width: 140px;
  }
  .container .main_container {
    width: 1000px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 760px;
  }
  .container .catalog_title {
    width: 720px;
    margin-left: 20px;
  }
  .container .categories_container {
    width: 100%;
    margin-top: 25px;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .container .categories_container li {
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3f4e65;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
  }
  .container .categories_container #onehundreedtwenty {
    width: 120px !important;
  }
  .container .categories_container #onehundreedfourty {
    width: 140px;
  }
  .container .main_container {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    margin-left: 0px;
  }
  .container .main_container .options_search_container {
    width: 346px;
    height: auto;
    margin-left: 20px;
  }
  .container .main_container .options_search_container .options_price_container {
    width: auto;
    height: 60px;
    margin-top: 10px;
  }
  .container .main_container .options_search_container .options_price_container .options_price_title {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .main_container .options_search_container .options_price_container .options_price_title p {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    color: #111111;
  }
  .container .main_container .options_search_container .options_price_container .options_price_inputs {
    width: 232px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .container .main_container .options_search_container .options_price_container .options_price_inputs input {
    width: 100px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #3f4e65;
  }
  .container .main_container .options_search_container .options_manufacturer_container {
    width: 238px;
    margin-top: 30px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_title {
    font-weight: 500;
    font-size: 16px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input input {
    width: 238px;
    height: 59px;
    padding: 13px 10px 13px 20px;
    background: #ededed;
    border-radius: 36px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input button {
    width: 39px;
    height: 39px;
    background: #ffc85e;
    border-radius: 1000px;
    margin-left: -49px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturer_input button img {
    width: 18.35px;
    height: 18.35px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container {
    margin-top: 15px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer {
    display: flex;
    color: #3f4e65;
    margin-bottom: 5px;
    align-items: center;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer p {
    font-weight: 400;
    font-size: 10px;
    margin: 3px 0px 0px 5px;
  }
  .container .main_container .options_search_container .options_manufacturer_container hr {
    width: 238px;
    height: 0px;
    opacity: 0.3;
    border: 1px dashed #3f4e65;
    margin-top: 20px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_categories_container {
    margin-top: 20px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories_title {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories {
    margin-top: 10px;
  }
  .container .main_container .options_search_container .options_manufacturer_container .options_categories_container .options_categories .options_category {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    color: #3f4e65;
  }
  .container .main_container .products_container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container {
    width: 326px;
    height: 490px;
    margin-bottom: 21px;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .container .main_container .products_container .product_container .product_img_container {
    width: 326px;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_img_container img {
    max-height: 236px;
  }
  .container .main_container .products_container .product_container .product_volume_container {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .container .main_container .products_container .product_container .product_volume_container span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_name_container {
    height: 78px;
    margin: 10px 0px 0px 23px;
  }
  .container .main_container .products_container .product_container .product_name_container span {
    height: 78px;
    font-weight: 500;
    font-size: 16px;
  }
  .container .main_container .products_container .product_container .product_info_container {
    height: 73px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info {
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info span {
    font-weight: 500;
    font-size: 14px;
    color: #111111;
    margin-left: 5px;
  }
  .container .main_container .products_container .product_container .product_price_container {
    width: 264px;
    height: 45px;
    margin: 15px 0px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_price_container .product_price {
    font-weight: 800;
    font-size: 16px;
    color: #111111;
  }
  .container .main_container .products_container .product_container .product_price_container button {
    width: 153px;
    height: 45px;
    background: #ffc85e;
    border-radius: 80px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .container .main_container .products_container .product_container .product_price_container button img {
    width: 27px;
    height: 27px;
    margin-left: 5px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 420px;
    height: auto;
    margin: 0px auto;
  }
  .container .mobile_back_button {
    display: flex;
    margin: 20px 0px 0px 15px;
  }
  .container .bread_crumbs {
    display: none;
  }
  .container .catalog_title {
    width: 400px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #111111;
    margin: 25px 0px 0px 15px;
    display: flex;
  }
  .container .catalog_title .catalog_title_sorting {
    position: absolute;
    display: none;
    margin-top: 20px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown {
    width: 200px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li {
    width: 200px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li ul {
    width: 200px;
  }
  .container .mobile_search_filter {
    display: inline;
  }
  .container .mobile_search_filter .options_search_container_disable {
    width: 390px;
    height: 55px;
    overflow: hidden;
    margin: 0px auto;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title button {
    width: 32px;
    height: 32px;
    background: #FFCA65;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(90deg);
    margin-left: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title button img {
    width: 4px;
    height: 8px;
  }
  .container .mobile_search_filter .options_search_container {
    width: 390px;
    height: auto;
    margin: 0px auto;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container .options_search_title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container .options_search_title button {
    width: 32px;
    height: 32px;
    background: #FFCA65;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(-90deg);
    margin-left: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container .options_search_title button img {
    width: 4px;
    height: 8px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container {
    width: auto;
    height: 60px;
    margin-top: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_title {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_title p {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    color: #111111;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_inputs {
    width: 232px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_inputs input {
    width: 100px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #3f4e65;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container {
    width: 238px;
    margin-top: 30px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input input {
    width: 238px;
    height: 59px;
    padding: 13px 10px 13px 20px;
    background: #ededed;
    border-radius: 36px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input button {
    width: 39px;
    height: 39px;
    background: #ffc85e;
    border-radius: 1000px;
    margin-left: -49px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input button img {
    width: 18.35px;
    height: 18.35px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_title {
    font-weight: 500;
    font-size: 16px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container {
    margin-top: 15px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer {
    display: flex;
    color: #3f4e65;
    margin-bottom: 5px;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer p {
    font-weight: 400;
    font-size: 10px;
    margin: 3px 0px 0px 5px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container hr {
    display: none;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search {
    display: flex;
    margin-top: 25px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search input {
    width: 169px;
    height: 59px;
    background: #FFC85E;
    border-radius: 79px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search button {
    width: 59px;
    height: 59px;
    background: #FFC85E;
    border-radius: 79px;
    margin-left: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search button img {
    width: 25px;
    height: 25px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_categories_container {
    display: none;
  }
  .container .categories_container {
    display: flex;
    height: 287px;
    flex-direction: column;
    overflow: hidden;
  }
  .container .categories_container li {
    display: block;
    width: 300px;
    height: 17px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
    justify-content: baseline;
    text-align: left;
    color: #3F4E65;
  }
  .container .categories_container #onehundreedtwenty {
    width: 300px !important;
  }
  .container .categories_container #onehundreedfourty {
    width: 300px;
  }
  .container .catalog_title_sorting_mobile {
    display: flex;
    margin: 25px 0px 0px 15px;
  }
  .container .main_container {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }
  .container .main_container .options_search_container {
    display: none;
  }
  .container .main_container .products_container {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container {
    width: 326px;
    height: 490px;
    margin-bottom: 21px;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .container .main_container .products_container .product_container .product_img_container {
    width: 326px;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_img_container img {
    max-height: 236px;
  }
  .container .main_container .products_container .product_container .product_volume_container {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .container .main_container .products_container .product_container .product_volume_container span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_name_container {
    height: 78px;
    margin: 10px 0px 0px 23px;
  }
  .container .main_container .products_container .product_container .product_name_container span {
    height: 78px;
    font-weight: 500;
    font-size: 16px;
  }
  .container .main_container .products_container .product_container .product_info_container {
    height: 73px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info {
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info span {
    font-weight: 500;
    font-size: 14px;
    color: #111111;
    margin-left: 5px;
  }
  .container .main_container .products_container .product_container .product_price_container {
    width: 264px;
    height: 45px;
    margin: 15px 0px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_price_container .product_price {
    font-weight: 800;
    font-size: 16px;
    color: #111111;
  }
  .container .main_container .products_container .product_container .product_price_container button {
    width: 153px;
    height: 45px;
    background: #ffc85e;
    border-radius: 80px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .container .main_container .products_container .product_container .product_price_container button img {
    width: 27px;
    height: 27px;
    margin-left: 5px;
  }
  .container .products_pages {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }
  .container .products_pages img {
    width: 9px;
    height: 16px;
  }
  .container .products_pages img:first-child {
    margin-right: 35px;
    transform: rotate(180deg);
  }
  .container .products_pages img:last-child {
    margin-left: 35px;
  }
  .container .products_pages button {
    width: 35px;
    height: 35px;
    background-color: white;
  }
  .container .products_pages button:hover {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
  }
}
@media (max-width: 424px) {
  .container {
    width: 320px;
    height: auto;
    margin: 0px auto;
  }
  .container .mobile_back_button {
    display: flex;
    margin: 20px 0px 0px 15px;
  }
  .container .bread_crumbs {
    display: none;
  }
  .container .catalog_title {
    width: 290px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #111111;
    margin: 25px 0px 0px 15px;
    display: flex;
  }
  .container .catalog_title .catalog_title_sorting {
    position: absolute;
    display: none;
    margin-top: 20px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown {
    width: 200px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li {
    width: 200px;
  }
  .container .catalog_title .catalog_title_sorting .catalog_title_dropdown ul li ul {
    width: 200px;
  }
  .container .mobile_search_filter {
    display: inline;
    transition-duration: 1s;
    margin-left: 15px;
  }
  .container .mobile_search_filter .options_search_container_disable {
    width: 305px;
    height: 55px;
    overflow: hidden;
    margin-left: 15px;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title button {
    width: 32px;
    height: 32px;
    background: #FFCA65;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(90deg);
    margin-left: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container_disable .options_search_title button img {
    width: 4px;
    height: 8px;
  }
  .container .mobile_search_filter .options_search_container {
    width: 315px;
    height: auto;
    margin-left: 15px;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container .options_search_title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container .options_search_title button {
    width: 32px;
    height: 32px;
    background: #FFCA65;
    opacity: 0.5;
    border-radius: 100px;
    transform: rotate(-90deg);
    margin-left: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
  }
  .container .mobile_search_filter .options_search_container .options_search_title button img {
    width: 4px;
    height: 8px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container {
    transition-duration: 1s;
    width: auto;
    height: 60px;
    margin-top: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_title {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_title p {
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    color: #111111;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_inputs {
    width: 232px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  .container .mobile_search_filter .options_search_container .options_price_container .options_price_inputs input {
    width: 100px;
    height: 23px;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #3f4e65;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container {
    width: 238px;
    margin-top: 30px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input input {
    width: 238px;
    height: 59px;
    padding: 13px 10px 13px 20px;
    background: #ededed;
    border-radius: 36px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input button {
    width: 39px;
    height: 39px;
    background: #ffc85e;
    border-radius: 1000px;
    margin-left: -49px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_input button img {
    width: 18.35px;
    height: 18.35px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturer_title {
    font-weight: 500;
    font-size: 16px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container {
    margin-top: 15px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer {
    display: flex;
    color: #3f4e65;
    margin-bottom: 5px;
    align-items: center;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer span {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_manufacturers_container .options_manufacturer p {
    font-weight: 400;
    font-size: 10px;
    margin: 3px 0px 0px 5px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container hr {
    display: none;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search {
    display: flex;
    margin-top: 25px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search input {
    width: 169px;
    height: 59px;
    background: #FFC85E;
    border-radius: 79px;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search button {
    width: 59px;
    height: 59px;
    background: #FFC85E;
    border-radius: 79px;
    margin-left: 10px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_all_search button img {
    width: 25px;
    height: 25px;
  }
  .container .mobile_search_filter .options_search_container .options_manufacturer_container .options_categories_container {
    display: none;
  }
  .container .categories_container {
    display: flex;
    height: 287px;
    flex-direction: column;
    overflow: hidden;
  }
  .container .categories_container li {
    display: block;
    width: 300px;
    height: 17px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
    justify-content: baseline;
    text-align: left;
    color: #3F4E65;
  }
  .container .categories_container #onehundreedtwenty {
    width: 300px !important;
  }
  .container .categories_container #onehundreedfourty {
    width: 300px;
  }
  .container .catalog_title_sorting_mobile {
    display: flex;
    margin: 25px 0px 0px 15px;
  }
  .container .main_container {
    width: 100%;
    display: flex;
    margin-top: 30px;
  }
  .container .main_container .options_search_container {
    display: none;
  }
  .container .main_container .products_container {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container {
    width: 320px;
    height: 490px;
    margin-bottom: 21px;
    box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
  .container .main_container .products_container .product_container .product_img_container {
    width: 320px;
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_img_container img {
    max-height: 236px;
  }
  .container .main_container .products_container .product_container .product_volume_container {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  .container .main_container .products_container .product_container .product_volume_container span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_name_container {
    height: 78px;
    margin: 10px 0px 0px 23px;
  }
  .container .main_container .products_container .product_container .product_name_container span {
    height: 78px;
    font-weight: 500;
    font-size: 16px;
  }
  .container .main_container .products_container .product_container .product_info_container {
    height: 73px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info {
    font-weight: 300;
    font-size: 14px;
    color: #3f4e65;
  }
  .container .main_container .products_container .product_container .product_info_container .product_info span {
    font-weight: 500;
    font-size: 14px;
    color: #111111;
    margin-left: 5px;
  }
  .container .main_container .products_container .product_container .product_price_container {
    width: 264px;
    height: 45px;
    margin: 15px 0px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .main_container .products_container .product_container .product_price_container .product_price {
    font-weight: 800;
    font-size: 16px;
    color: #111111;
  }
  .container .main_container .products_container .product_container .product_price_container button {
    width: 153px;
    height: 45px;
    background: #ffc85e;
    border-radius: 80px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .container .main_container .products_container .product_container .product_price_container button img {
    width: 27px;
    height: 27px;
    margin-left: 5px;
  }
  .container .products_pages {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }
  .container .products_pages img {
    width: 9px;
    height: 16px;
  }
  .container .products_pages img:first-child {
    margin-right: 35px;
    transform: rotate(180deg);
  }
  .container .products_pages img:last-child {
    margin-left: 35px;
  }
  .container .products_pages button {
    width: 35px;
    height: 35px;
    background-color: white;
  }
  .container .products_pages button:hover {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
  }
}

/*# sourceMappingURL=catalog.module.css.map */
